<% content_for :title do "Config Form" end %>

<script type="text/javascript">
//<![CDATA[

    angular.module("appcfg", ["ngResource"]).factory("AppCfgModel", function ($resource) {
        return $resource("/<%= cfg_form %>");
    });

    function AppCfg($scope, $http, AppCfgModel) {

        $scope.unChangedStyle = {color: "black"};
        $scope.changedStyle = {color: "red"};

        $scope.cfg = AppCfgModel.get();
        $scope.digestStyle = $scope.unChangedStyle;

        $scope.updateDigest = function () {
            $http.get("/<%= cfg_form.sub /json$/, 'md5' %>").success(function (response) {
                $scope.digest = response;
            });
        };

        $scope.change = function () {
            $scope.cfg.$save(function () {
                $scope.changed = false;
                $scope.detectChanges();
            }, function () {
                alert("Error occurred during save");
                $scope.changed = false;
            });
        };

        $scope.hasChanges = function () {
            $http.get("/<%= cfg_form.sub /json$/, 'changed' %>").success(function (response) {
                if (response == "true") {
                    $scope.digestStyle = $scope.changedStyle;
                } else {
                    $scope.digestStyle = $scope.unChangedStyle;
                }
            });
        };

        $scope.detectChanges = function () {
            $scope.hasChanges();
            $scope.updateDigest();
        };

        $scope.diffs = function () {
            $http.get("/<%= cfg_form.sub /json$/, 'diffs' %>").success(function (response) {
                $scope.statusMessage = response;
            }).failure(function () {
                $scope.statusMessage = "";
                alert("Diff failed");
            });
        };

        $scope.revert = function () {
            if (confirm("Are you sure?\nYou will lose any changes.")) {
                $http.post("/revert/<%= cfg_form %>").success(function (response) {
                    $scope.cfg.$get({}, function () {
                        $scope.statusMessage = response;
                        $scope.detectChanges();
                    },  function (code, response) {
                        $scope.statusMessage = "";
                        alert("Revert succeeded, reload failed");
                    });
                }).failure(function (response) {
                    $scope.statusMessage = "";
                    alert("Revert failed");
                });
            }
        };

        $scope.addListItem = function (list, item) {
            list.push(item);
            $scope.change();
        };

        $scope.removeListItem = function (list, item) {
            var newList = [];
            while (list.length > 0) {
                var n = list.pop();
                if (n != item) {
                    newList.push(n);
                }
            }
            while (newList.length > 0) {
                list.push(newList.pop());
            }
            $scope.change();
        };

        $scope.detectChanges();

        <%= js %>
    }

//]]>
</script>

<div data-ng-app="appcfg" data-ng-controller="AppCfg" id="config-form">
    <div >
      <div style="float: left; font-size: 16px;"><%= cfg_form %></div>
      <div style="float: right;">
        <span ng-style="digestStyle">{{digest}}</span>
        <span><a href="/<%= cfg_form %>">(source)</a></span>
      </div>
      <div style="clear: both;"/>
    </div>
    <hr/>

    <%= form %>

    <hr/>
    <p>
        <button data-ng-click="diffs()">View Diff</button>
        <button data-ng-click="revert()">Revert</button>
    </p>
    <div id="status_message" data-ng-bind-html-unsafe="statusMessage"></div>
</div>
