- content_for :title do
  #{cfg_form}

- content_for :ng_app do
  appcfg

- content_for :ng_controller do
  AppCfg

- content_for :nav do
  %li
    %a(data-ng-click="sync()") Sync

:javascript
  angular.module("appcfg", ["ngResource"]).factory("AppCfgModel", function ($resource) {
    return $resource("/#{cfg_form}");
  });

  function AppCfg($scope, $http, AppCfgModel) {
    $scope.cfg = AppCfgModel.get();

    $scope.change = function () {
      $scope.cfg.$save(function () {
        $scope.changed = false;
      }, function () {
        alert("Error occurred during save.");
        $scope.changed = false;
      });
    }

    $scope.diffs = function () {
      $http.get("/diffs/#{cfg_form}").success(function (response) {
        $scope.statusMessage = response;
      }).failure(function () {
        $scope.statusMessage = "";
        alert("Diff failed");
      });
    };

    $scope.revert = function () {
      if (confirm("Are you sure?\nYou will lose any changes.")) {
        $http.post("/revert/#{cfg_form}").success(function (response) {
          $scope.cfg.$get({}, function () {
            $scope.statusMessage = response;
          }, function (code, response) {
          $scope.statusMessage = "";
            alert("Revert succeeded, reload failed");
          });
        }).failure(function (response) {
          $scope.statusMessage = "";
          alert("Revert failed");
        });
      }
    };

    $scope.sync = function () {
      $http.post("/sync").success(function (response) {
        $scope.statusMessage = response;
      }).failure(function (response) {
        $scope.statusMessage = "";
        alert("Sync failed");
      });
    };

    #{js}
  }

#{form}

%p
  %button(data-ng-click="diffs()") View Diff
  %button(data-ng-click="revert()") Revert

%div#status_message(data-ng-bind-html-unsafe="statusMessage")
