- content_for :title do
  #{cfg_form}

:javascript
  angular.module("appcfg", ["ngResource"]).factory("AppCfgModel", function ($resource) {
    return $resource("/#{cfg_form}");
  });

  function AppCfg($scope, $http, AppCfgModel) {
    $scope.cfg = AppCfgModel.get();

    $scope.change = function () {
      $scope.cfg.$save(function () {
        $scope.changed = false;
      }, function () {
        alert("Error occurred during save.");
        $scope.changed = false;
      });
    }

    $scope.diffs = function () {
      $http.get("/diffs/#{cfg_form}").success(function (response) {
        $scope.statusMessage = response;
      }).failure(function () {
        $scope.statusMessage = "";
        alert("Diff failed");
      });
    };

    $scope.revert = function () {
      if (confirm("Are you sure?\nYou will lose any changes.")) {
        $http.post("/revert/#{cfg_form}").success(function (response) {
          $scope.cfg.$get({}, function () {
            $scope.statusMessage = response;
          }, function (code, response) {
          $scope.statusMessage = "";
            alert("Revert succeeded, reload failed");
          });
        }).failure(function (response) {
          $scope.statusMessage = "";
          alert("Revert failed");
        });
      }
    };

    $scope.addListItem = function (list, item) {
      list.push(item);
      $scope.change();
    };

    $scope.removeListItem = function (list, item) {
      var newList = [];
      while (list.length > 0) {
        var n = list.pop();
        if (n != item) {
          newList.push(n);
        }
      }
      while (newList.length > 0) {
        list.push(newList.pop());
      }
      $scope.change();
    };

    #{js}
  }

%div(data-ng-app="appcfg" data-ng-controller="AppCfg")

  #{form}

  %p
    %button(data-ng-click="diffs()") View Diff
    %button(data-ng-click="revert()") Revert

  %div#status_message(data-ng-bind-html-unsafe="statusMessage")
