- content_for :title do
  #{cfg_form_name}

%h2 #{cfg_form_name}
%div(data-ng-app='appcfg')

  :javascript
    angular.module("appcfg", ["ngResource"]).factory("AppCfgModel", function ($resource) {
      return $resource("/#{cfg_json}");
    });

    function AppCfg($scope, $http, AppCfgModel) {
      $scope.statusMessage = "";
      $scope.message = "";
      $scope.cfg = AppCfgModel.get();

      $scope.diffs = function () {
        $http.get("/diffs/#{cfg_json}").success(function (response) {
          $scope.statusMessage = response;
        }).failure(function () {
          alert("Diff failed");
        });
      };

      $scope.revert = function () {
        if (confirm("Are you sure?\nYou will lose any changes.")) {
          $http.post("/revert/#{cfg_json}").success(function (response) {
            $scope.cfg.$get({}, function () {
              $scope.statusMessage = response;
            }, function (code, response) {
              alert("Revert succeeded, reload failed");
            });
          }).failure(function (response) {
            alert("Revert failed");
          });
        }
      };

      $scope.save = function () {
        $scope.cfg.$save(function (response) {
          alert("Config saved to server");
        }, function () {
          alert("ERROR on save");
        });
      };

      $scope.sync = function () {
        $http.post("/sync").success(function (response) {
          $scope.statusMessage = response;
        }).failure(function (response) {
          alert("Sync failed");
        });
      };

      #{cfg_javascript}
    }

  %div(data-ng-controller='AppCfg')

    %ul#buttons
      %li
        %button(data-ng-click='sync()') Sync Working Copy
      %li
        %button(data-ng-click='diffs()') View Diff
      %li
        %button(data-ng-click='save()') Save Changes
      %li
        %button(data-ng-click='revert()') Revert Changes

    %div#cfg_form
      #{cfg_form}
    %br

    %div(data-ng-bind-html-unsafe='statusMessage')
