<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title><%= h (yield_content :title).strip %> | App-Config-App</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css"/>
    <link href="data:image/x-icon;base64,AAABAAEAEBACAAAAAACwAAAAFgAAACgAAAAQAAAAIAAAAAEAAQAAAAAAQAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA/4QAAAASAAAAEgAAAB4AAAASAAAD3gAAAgAAAAIAAAACAAAAA8AAAAAAAAASAAAAEgAAAB4AAAASAAAAHgAAAAAAAAD/7QAA/+0AAP/hAAD/7QAA/CEAAP3/AAD9/wAA/f8AAPw/AAD//wAA7f8AAO3/AADh/wAA7f8AAOH/AAD//wAA" rel="icon" type="image/x-icon"/>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular-resource.js"></script>
    <%= yield_content :head %>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>App-Config-App | <%= h (yield_content :title).strip %></h1>
            <p id="user-info">[Logged in as <%= session[:username] %>
                | <a href="<%= request.url.sub /:\/\//, '://logout@' %>">Logout</a>]</p>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <% yield_content :nav %>
                    <li><a href="/changes">Pending Changes</a></li>
                    <li><a href="/promote">Promote Changes</a></li>
                </ul>
            </nav>
        </header>
        <section class="content">
            <%= yield %>
        </section>
    </div>
</body>
</html>
